{% extends 'layout.njk' %}

{% block content %}
    <div class="card table-container">
        <div class="header">
            <a href="/students/create" class="button">Novo</a>
            <form action="/students">
                <input type="text" name="filter" value="{{filter}}" placeholder="Nome ou email">
                <button id="filter-btn" type="submit">Filtrar</button>
            </form>
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Email</th>
                    <th>Ano Escolar</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{student.avatar_url}})"></span>
                            {{student.name}}
                        </td>
                        <td>{{student.email}}</td>
                        <td>
                            {% if student.education_level == '5EF' %}5º Ano do Fundamental{% endif %}
                            {% if student.education_level == '6EF' %}6º Ano do Fundamental{% endif %}
                            {% if student.education_level == '7EF' %}7º Ano do Fundamental{% endif %}
                            {% if student.education_level == '8EF' %}8º Ano do Fundamental{% endif %}
                            {% if student.education_level == '9EF' %}9º Ano do Fundamental{% endif %}
                            {% if student.education_level == '1EM' %}1º Ano do Ensino Médio{% endif %}
                            {% if student.education_level == '2EM' %}2º Ano do Ensino Médio{% endif %}
                            {% if student.education_level == '3EM' %}3º Ano do Ensino Médio{% endif %}
                        </td>
                        <td>
                            <a class="button" href="/students/{{student.id}}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination"
        data-total={{pagination.total}}
        data-page={{pagination.page}}
        data-filter={{filter}}
        ></div>
    </div>

{% endblock content %}